.imageUpload {
  display: flex;
  flex-direction: column;
  width: 98%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  /* background-color: white;
  border-top: 1px solid lightgray; */
  /* position: fixed;
  bottom: 0; */
  /* width: 600px; */
}
.imageupload_progress {
  width: 100%;
}
/*  */
